= if @menu.picture? == 1 do
  = render(LaPotiniereWeb.PhotoView, "photo_lists.html", photos: @menu.photos)
- if @menu.picture? == 0 do
  = render(LaPotiniereWeb.ContentView, "content_lists.html", contents: @menu.contents)

